/* Base styles for all devices (mobile-first design) */

.add-product {
    font-family: Arial, sans-serif;
    width: 100%; /* Utilize the full width on mobile screens */
    max-width: 800px; /* Maximum width for larger screens */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.add-product h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-product form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adjust the gap between form elements for mobile */
}

.add-product input,
.add-product textarea,
.add-product button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%; /* Ensure all form elements take up full width on mobile */
}

.add-product input:focus,
.add-product textarea:focus {
    border-color: #007BFF;
}

.add-product textarea {
    resize: vertical; /* Allows vertical resizing */
    min-height: 100px; /* Minimum height for the textarea */
}

.add-product button {
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product button:hover {
    background-color: #0056b3;
}

.back-icon {
    color: white;
    cursor: pointer; 
    padding: 10px; 
    display: inline-flex; 
    align-items: center; 
    position: fixed;  /* This will fix the position */
    top: 10px;       /* 10px from the top */
    left: 10px;      /* 10px from the left */
    z-index: 1000;   /* Ensure it's above other elements */
    background-color: #007BFF; /* Optional: To ensure the icon is visible on all backgrounds */
    border-radius: 50%; /* Optional: To make it circular */
  }

/* Responsive styles for larger devices */
@media (min-width: 768px) {
    .add-product {
        padding: 40px;
    }

    .add-product form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px; /* Increase the gap between form elements for larger screens */
    }

    .add-product input,
    .add-product textarea,
    .add-product button {
        width: calc(50% - 12.5px); /* Adjust width for form fields on larger screens */
    }

    .add-product textarea,
    .add-product button {
        width: 100%; /* Allow description and button to take full width */
    }
}
