/* Common styles for TopBar */

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;  /* Align items to the start */
    height: 60px;
    padding: 0 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;  /* Ensuring the top bar stays on top of other content */
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    margin-top: 0;
  }
  
  .menu-icon {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 20px;  /* Add some margin to the right of the menu icon */
  }
  
  .searchbar {
    flex-grow: 1;  /* Allows the search bar to take up the remaining space */
    padding: 8px;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #222;
    color: white;
    outline: none;
    width: auto; /* Ensure it doesn't have a fixed width */
    max-width: 80%; /* Limit its maximum width */
    flex-shrink: 0; /* Allow it to shrink if necessary */
  }

  .notification-icon {
    margin-left: 10px; /* Add margin to the left to separate from the search bar */
    background-color: none;
  }
  
  /* Media Queries for responsiveness */
  
  @media only screen and (max-width: 600px) {
    .searchbar {
      width: 60%;  /* Adjust the width for mobile devices */
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .menu-icon {
      margin-right: 15px;
    }
  }
  